.hide-mouse-cursor {
    cursor: none;
}

body{
      font-family: "Times New Roman", Times, serif;
}

#zonemusic{
    margin-top: 30px;
    width: 95%;
    margin: 0 auto;
    outline: 5px solid #9dcf26;
}

#zone1 {
    margin-top: 10px;
    width: 85%;
    margin: 0 auto;
    background-image: url("https://images.hdqwalls.com/wallpapers/bthumb/blue-forest-minimal-4k-kz.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(128, 171, 130, 0.8);
    color: white;
    outline: 5px solid #ffffff;
    font-weight: bold;
}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


#zone2{
    width: 70%;
    margin: 0 auto;
    background-color: transparent;

}

.episodes {
    flex-direction: column;
}

.hero {
height: 140vh;
}

.dropdown {
cursor: pointer;
}



.dropdown.is-active {
background-color: lightblue;
}


#logindis{
margin-left: 20px;
}

#logoutdis{
margin-left: 20px;
display: none;
}

.hero {
    background-color: #80AB82;
    background-image: url("https://wallpaperaccess.com/full/812553.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.circular-avatar {
width: 100px;
height: 100px;
border-radius: 50%;
object-fit: cover;
}

.user-profile {
display: flex;
align-items: center;
}

#avatar {
width: 100px;
height: 100px;
border-radius: 50%;
object-fit: cover;
margin-right: 20px;
outline: 3px solid #ffffff;

}

.user-details {
display: flex;
flex-direction: column;
}

#middleside{
text-align: center;
text-decoration: underline;
margin-bottom: 10px;
}

#box{
background-image: none;
}

.background {
background-color: rgb(180, 228, 180);
}


#embeddown {
margin-top: 50px;
}

.footer{
    background-image: url("https://i.pinimg.com/originals/61/ee/a1/61eea19016526c5f0920b5ac39761007.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(128, 171, 130, 0.8);
    color: white;
    font-weight: bold;
}

.navbar{
    background-image: url("https://th.bing.com/th/id/OIP.PHGpRCZHVJySGha12Zgw_QHaEK?pid=ImgDet&rs=1");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(128, 171, 130, 0.8);
    color: white;
    font-weight: bold;
}
